@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer components {

  button,
  .icon-button {
    cursor: pointer;
  }

  .icon-button:hover svg {
    stroke-width: 2;
  }

  .list-container {
    max-height: calc(100dvh - 330px);
    overflow-y: auto;
  }
}